<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://java.sum.com/xml/ns/javaee" version="2.5">
	<servlet>
		<servlet-name>search-result</servlet-name>
		<servlet-class>searchresult</servlet-class>
		
	</servlet>
	
	<setvlet-mapping>
		<servlet-name>search-result</servlet-name>
		<url-pattern>./searchresult</url-pattern>
	</servlet-mapping>
	
	
</web-app>