<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<servlet>
		<servlet-name>search-result</servlet-name>
		<servlet-class>search-result</servlet-class>
		
	</servlet>
	
	<setvlet-mapping>
		<servlet-name>search-result</servlet-name>
		<url-pattern>./search-result</url-pattern>
	</setvlet-mapping>
	
	
</web-app>